$accent : #236FB5;
$default : #3A3838;

%montserrat-300{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
%montserrat-400{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
%montserrat-700{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
%montserrat-900{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}